<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/24e07351-cbf8-459b-845f-eb7b571fa854/resourceGroups/NutriPro20241206105150ResourceGroup/providers/Microsoft.Web/sites/NutriPro</ResourceId>
    <ResourceGroup>NutriPro20241206105150ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://nutripro.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>94a362aa-2a3a-410d-b1d1-36fb291ed8a6</ProjectGuid>
    <MSDeployServiceURL>nutripro.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>NutriPro</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>Dependente do framework</SelfContained>
    <RuntimeIdentifier>Portátil</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA7uTQlpLUU0CoDmE9ma1opAAAAAACAAAAAAAQZgAAAAEAACAAAADpGyiRxETKQbmFpCXBmJ/wTd5h/Xjm6CYzqYKK3OcR9gAAAAAOgAAAAAIAACAAAABp1GsVeOhWEW3Q0o/r2gxljwuJ60F54SXo5WiI055BzCAAAAB/oIwy/m39e51PVX17hXybjHxjjCY+s8N2hLqtL3UyKUAAAABnG0CxB9myjEHqEOswqr1prT9/7/4n+4RMfYGnEELO+BNdomzX+2hG7Pu/eTtB7P0mOZHuVtmUSFV31r5l/l7P</EncryptedPassword>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>